.modal-remove {
  .i-modal__content {
    max-width: 670px;
  }
  &__title {
    font-size: 28px;
    font-style: normal;
    font-weight: 500;
    line-height: 36px;
    color: $black;
    text-align: center;
  }

  &__subtitle {
    text-align: center;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0.15px;
    color: $grey-light;
    margin-bottom: 24px;
  }

  &__buttons {
    margin-top: 44px;
    display: flex;
    justify-content: space-between;
    column-gap: 20px;
    .btn {
      width: auto;
      flex-grow: 1;
    }
  }
}
