+form().form-creating-operation
  +group({title: 'Общие сведения'}).form-creating-operation__general-information
    .group__form
      +data-block({title: 'Пациент', value: 'Павленко Павел Павлович'})
      +input-custom({type: 'number', placeholder: 'Вес на момент операции*', name: 'weight-operation'})(data-required='').only-number
      +input-custom({type: 'text', placeholder: 'Дата операции*', name: 'date-operation', calendar: true})(autocomplete='off' data-required='' data-mask='date').only-number#calendar-operation
      +itc-custom-select({
        id: 'surgeon', 
        name: 'surgeon',
        placeholder: 'Хирург',
        options: [
          {
            index: 0,
            value: 'value1',
            txt: 'List item 1'
          },
          {
            index: 1,
            value: 'value2',
            txt: 'List item 2'
          },
          {
            index: 2,
            value: 'value3',
            txt: 'List item 3'
          },
          {
            index: 3,
            value: 'value4',
            txt: 'List item 4'
          },
        ]
      })(data-required='')
      +itc-custom-select({
        id: 'assistants', 
        name: 'assistants',
        placeholder: 'Ассистенты',
        message: 'Ассистентов можно добавить в профиле',
        addClass: 'have-message',
        options: [
          {
            index: 0,
            value: 'value1',
            txt: 'List item 1'
          },
          {
            index: 1,
            value: 'value2',
            txt: 'List item 2'
          },
          {
            index: 2,
            value: 'value3',
            txt: 'List item 3'
          },
          {
            index: 3,
            value: 'value4',
            txt: 'List item 4'
          },
        ]
      })
      +itc-custom-select({
        id: 'сhoosing-clinic', 
        name: 'сhoosing-clinic',
        placeholder: 'Выбор клиники',
        options: [
          {
            index: 0,
            value: 'value1',
            txt: 'List item 1'
          },
          {
            index: 1,
            value: 'value2',
            txt: 'List item 2'
          },
          {
            index: 2,
            value: 'value3',
            txt: 'List item 3'
          },
          {
            index: 3,
            value: 'value4',
            txt: 'List item 4'
          },
        ]
      })
      +itc-custom-select({
        id: 'type-of-operation', 
        name: 'type-of-operation',
        placeholder: 'Тип операции',
        options: [
          {
            index: 0,
            value: 'Первичная',
            txt: 'Первичная'
          },
          {
            index: 1,
            value: 'Ревизионная (по поводу неэффективности или осложнений предыдущей операции)',
            txt: 'Ревизионная (по поводу неэффективности или осложнений предыдущей операции)'
          },
          {
            index: 2,
            value: 'Плановый второй этап',
            txt: 'Плановый второй этап'
          },
          {
            index: 3,
            value: 'Ревизия после бариатрической операции в другой клинике',
            txt: 'Ревизия после бариатрической операции в другой клинике'
          },
        ]
      })(data-required='' data-has-connection='operation-type')
      
      +itc-custom-select({
        id: 'reason-for-revision', 
        name: 'reason-for-revision',
        placeholder: 'Причина ревизии',
        options: [
          {
            index: 0,
            value: 'value1',
            txt: 'Рецидив набора веса'
          },
          {
            index: 1,
            value: 'value2',
            txt: 'Недостаточное снижение веса'
          },
          {
            index: 2,
            value: 'value3',
            txt: 'Осложнение'
          },
          {
            index: 3,
            value: 'value4',
            txt: 'Удаление БЖ/ВЖБ'
          },
          {
            index: 4,
            value: 'value4',
            txt: 'Эстетическая, кометологическая, иная причина'
          },
        ]
      })(data-required='' data-connected='operation-type' data-id='revision')
      +itc-custom-select({
        id: 'kind-of-operation', 
        name: 'kind-of-operation',
        placeholder: 'Вид операции',
        options: [
          {
            index: 0,
            value: 'sleeve',
            txt: 'Sleeve (Продольная резекция)'
          },
          {
            index: 1,
            value: 'mgb',
            txt: 'MGB-OAGB (Минигастрошунтирование)'
          },
          {
            index: 2,
            value: 'rygb',
            txt: 'RYGB (Гастрошунтирование)'
          },
          {
            index: 3,
            value: 'bpd',
            txt: 'BPD (Билиопанкреатическое шунтирование)'
          },
          {
            index: 4,
            value: 'sadi',
            txt: 'SADI (Дуоденоилешунтирование)'
          },
          {
            index: 5,
            value: 'slim',
            txt: 'SLIM OAGB (Гастрошунтирование на короткой петле)'
          },
          {
            index: 6,
            value: 'gastric-banding',
            txt: 'Бандажирование желудка'
          },
          {
            index: 7,
            value: 'intragastric-ballon',
            txt: 'Внутрижелудочный баллон'
          },
          {
            index: 8,
            value: 'gastroplication',
            txt: 'Гастропликация'
          },
          {
            index: 9,
            value: 'removal-of-vzhb',
            txt: 'Удаление ВЖБ'
          },
          {
            index: 10,
            value: 'another-operation',
            txt: 'Другая операция'
          },
        ]
      })(data-required='')
      //- data-has-connection='operation'
      +itc-custom-select({
        id: 'access', 
        name: 'access',
        placeholder: 'Доступ',
        options: [
          {
            index: 0,
            value: 'Лапароскопия',
            txt: 'Лапароскопия'
          },
          {
            index: 1,
            value: 'Лапаратомия',
            txt: 'Лапаратомия'
          },
          {
            index: 2,
            value: 'Эндоскопия',
            txt: 'Эндоскопия'
          },
          {
            index: 3,
            value: 'Конверсия из лапароскопии в лапаротомию',
            txt: 'Конверсия из лапароскопии в лапаротомию'
          },
          {
            index: 4,
            value: 'value3',
            txt: 'Конверсия из лапароскопии в мануально ассистированную'
          },
          {
            index: 5,
            value: 'value4',
            txt: 'SILS'
          },
          {
            index: 6,
            value: 'value5',
            txt: 'Конверсия SILS в традиционную лапароскопию'
          },
        ]
      })(data-required='' data-has-connection='access')
      +input-custom({type: 'number', placeholder: 'Длительность операции (мин)', name: 'duration-operation'})
      +itc-custom-select({
        id: 'pain-relief', 
        name: 'pain-relief',
        placeholder: 'Обезболивание',
        options: [
          {
            index: 0,
            value: 'value1',
            txt: 'в/в'
          },
          {
            index: 1,
            value: 'value2',
            txt: 'ЭТН'
          },
          {
            index: 2,
            value: 'value3',
            txt: 'ЭТН + перидуральная анестезия'
          },
          {
            index: 3,
            value: 'value4',
            txt: 'ЭТН + пластырь'
          },
        ]
      })
      +itc-custom-select({
        id: 'simultaneous-operation', 
        name: 'simultaneous-operation',
        placeholder: 'Симультанная операция',
        options: [
          {
            index: 0,
            value: 'value1',
            txt: 'Холецистэктомия'
          },
          {
            index: 1,
            value: 'value2',
            txt: 'Герниопластика'
          },
          {
            index: 2,
            value: 'value3',
            txt: 'Аппендэктомия'
          },
          {
            index: 3,
            value: 'value4',
            txt: 'Гинекологическая операция'
          },
          {
            index: 4,
            value: 'value4',
            txt: 'Круроррафия'
          },
          {
            index: 5,
            value: 'value4',
            txt: 'Другое'
          },
        ]
      })(data-multiple=true)
  +group({title: 'Операция', operation: true})(data-group-name='operation').group--parent.form-creating-operation__operation
    .group__info Выберите «Вид операции»
  +group({title: 'Осложнения', subtitle: 'Трудности и отклонения от стандартного хода операции, которые возникли в операционной и привели к изменению тактики, увеличению длительности или прекращению вмешательства.'}).form-creating-operation__complications.group--parent
    +group({title: 'Вид осложнения', type: 'additional'}).is-active
      .group__additional-form
        +checkbox({name: "Intraoperative complications", value: 'yes', label: 'Интраоперационные осложнения'})(data-has-connection="intraoperative-complications")(data-connected='no-complications')
        +checkbox({name: "Emergency situations", value: 'yes', label: 'Нештатные ситуации'})(data-has-connection="emergency-situations")(data-connected='no-complications')
        +checkbox({name: "No complications", value: 'yes', label: 'Нет осложнений'})(data-has-connection='no-complications')
    +group({title: 'Интраоперационные осложнения', type: 'additional'})(data-connected='intraoperative-complications').form-creating-operation__intraoperative
      .group__additional-form
        +itc-custom-select({
          id: 'bleeding', 
          name: 'bleeding',
          placeholder: 'Кровотечение',
          options: [
            {
              index: 0,
              value: 'Из троакарной раны',
              txt: 'Из троакарной раны'
            },
            {
              index: 1,
              value: 'Из артерии/вены',
              txt: 'Из артерии/вены'
            },
            {
              index: 2,
              value: 'Другое',
              txt: 'Другое'
            },
          ]
        })
        +itc-custom-select({
          id: 'positive-leak-test', 
          name: 'positive-leak-test',
          placeholder: 'Позитивный тест на герметичность',
          options: [
            {
              index: 0,
              value: 'Степлерной линии',
              txt: 'Степлерной линии'
            },
            {
              index: 1,
              value: 'Степлерной линии',
              txt: 'Анастомоза'
            },
          ]
        })
        +itc-custom-select({
          id: 'injury-of-organs', 
          name: 'injury-of-organs',
          placeholder: 'Перфорация и ранение органов',
          options: [
            {
              index: 0,
              value: 'Тонкой кишки',
              txt: 'Тонкой кишки'
            },
            {
              index: 1,
              value: '12-перстной кишки',
              txt: '12-перстной кишки'
            },
            {
              index: 2,
              value: 'Ободочной кишки',
              txt: 'Ободочной кишки'
            },
            {
              index: 3,
              value: 'Желудка',
              txt: 'Желудка'
            },
            {
              index: 4,
              value: 'Пищевода',
              txt: 'Пищевода'
            },
            {
              index: 5,
              value: 'Диафрагмы',
              txt: 'Диафрагмы'
            },
            {
              index: 6,
              value: 'Печени',
              txt: 'Печени'
            },
            {
              index: 7,
              value: 'Селезенки',
              txt: 'Селезенки'
            },
            {
              index: 8,
              value: 'Поджелудочной железы',
              txt: 'Поджелудочной железы'
            },
            {
              index: 9,
              value: 'Другое',
              txt: 'Другое'
            },
          ]
        })
        +itc-custom-select({
          id: 'electrotrauma-of-organs', 
          name: 'electrotrauma-of-organs',
          placeholder: 'Электротравма органов',
          options: [
            {
              index: 0,
              value: 'Тонкой кишки',
              txt: 'Тонкой кишки'
            },
            {
              index: 1,
              value: '12-перстной кишки',
              txt: '12-перстной кишки'
            },
            {
              index: 2,
              value: 'Ободочной кишки',
              txt: 'Ободочной кишки'
            },
            {
              index: 3,
              value: 'Желудка',
              txt: 'Желудка'
            },
            {
              index: 4,
              value: 'Пищевода',
              txt: 'Пищевода'
            },
            {
              index: 5,
              value: 'Диафрагмы',
              txt: 'Диафрагмы'
            },
            {
              index: 6,
              value: 'Печени',
              txt: 'Печени'
            },
            {
              index: 7,
              value: 'Селезенки',
              txt: 'Селезенки'
            },
            {
              index: 8,
              value: 'Поджелудочной железы',
              txt: 'Поджелудочной железы'
            },
            {
              index: 9,
              value: 'Другое',
              txt: 'Другое'
            },
          ]
        })
        +input-custom({type: 'text', placeholder: 'Другое/комментарии', name: 'intraoperative-complications-comment', addClass: 'long-input'})
    +group({title: 'Нештатные ситуации', type: 'additional'})(data-connected='emergency-situations').form-creating-operation__emergency-situations
      .group__additional-form
        +checkbox({name: "emergency-situation1", value: 'yes', label: 'Заклинивание степлера'})
        +checkbox({name: "emergency-situation2", value: 'yes', label: 'Неправильное срабатывание кассеты'})
        +checkbox({name: "emergency-situation3", value: 'yes', label: 'Трудности установки зонда'})
        +checkbox({name: "emergency-situation4", value: 'yes', label: 'Прошивание зонда степлером'})
        +checkbox({name: "emergency-situation5", value: 'yes', label: 'Невозможность экспозиции печени'})
        +checkbox({name: "emergency-situation6", value: 'yes', label: 'Выраженный спаечный процесс'})
        +checkbox({name: "emergency-situation7", value: 'yes', label: 'Анестезиологические осложнения'})
        +checkbox({name: "emergency-situation8", value: 'yes', label: 'Обнаружено новообразование'})
        +checkbox({name: "emergency-situation9", value: 'yes', label: 'Поломка элементов оборудования'})
        +checkbox({name: "emergency-situation10", value: 'yes', label: 'Ухудшение состояния хирурга/ассистента'})
        +input-custom({type: 'text', placeholder: 'Другое/комментарии', name: 'emergency-situation-comment', addClass: 'long-input'})
  +group({title: 'Пребывание в стационаре и исход'}).form-creating-operation__hospital
    .group__form
      +itc-custom-select({
          id: 'vomiting', 
          name: 'vomiting',
          placeholder: 'Наличие рвоты после операции',
          options: [
            {
              index: 0,
              value: 'value1',
              txt: 'List item 1'
            },
            {
              index: 1,
              value: 'value2',
              txt: 'List item 2'
            },
            {
              index: 2,
              value: 'value3',
              txt: 'List item 3'
            },
            {
              index: 3,
              value: 'value4',
              txt: 'List item 4'
            },
          ]
        })
      +input-custom({type: 'text', placeholder: 'Дата выписки', name: 'discharge-from-hospital', calendar: true})(autocomplete='off' data-required='' data-mask='date').only-number#calendar-discharge
      +itc-custom-select({
          id: 'discharge-where', 
          name: 'discharge-where',
          placeholder: 'Выписка',
          options: [
            {
              index: 0,
              value: 'Домой',
              txt: 'Домой'
            },
            {
              index: 1,
              value: 'В другой госпиталь',
              txt: 'В другой госпиталь'
            },
            {
              index: 2,
              value: 'Летальный исход',
              txt: 'Летальный исход'
            },
          ]
        })(data-has-connection='fatal-outcome')
      +itc-custom-select({
          id: 'сause-of-death', 
          name: 'сause-of-death',
          placeholder: 'Причина летального исхода',
          options: [
            {
              index: 0,
              value: 'Причина 1',
              txt: 'Причина 1'
            },
            {
              index: 0,
              value: 'Причина 2',
              txt: 'Причина 2'
            },
            {
              index: 0,
              value: 'Причина 3',
              txt: 'Причина 3'
            },
          ]
        })(data-has-connection='fatal-outcome')
      +checkbox({name: "Electrolyte-disturbances", value: 'yes', label: 'Электролитные нарушения'})
      +checkbox({name: "Rhabdomyolysis", value: 'yes', label: 'Рабдомиолиз'})
  .form__wrapper-btns
    +btn({txt: 'Создать'})(type='submit')(disabled).submit-button
    +btn({txt: 'Добавить ранее осложнение', mode: 'ghost'})(type='button' class='add-complication')