mixin user()
  .user
    .user__avatar-template
      svg
        use(href='img/sprite.svg#user')
    //- .user__avatar
    //-   img(src='img/avatar.png')
    span.user__username Павленко П.П
    svg.user__carret
      use(href='img/sprite.svg#caret-up')
    //- ul.tooltip-menu.user__menu

