mixin operation-another-operation
  .group__form(data-connected='operation' data-number='1' data-name='another-operation')
    +input-custom({type: 'text', placeholder: 'Название операции', name: '[another-operation]operation-name'})
    +textarea({name: '[another-operation]additional-operation-info', placeholder: 'Дополнительная информация об операции'}).long