.hero
  .container
    .hero__inner
      +btn({txt: 'Вернуться назад', icon: 'carret-left', href: '#', mode: 'text'}).hero__back
      h1.hero__title Создание <br>карты пациента
      .hero__image
        img(src="img/1..png", alt="Новый пациент")