-
  let title;
  let img;
  let addClass;

  if(pageName === 'new-patient') {
    title="Создание<br> карты пациента";
    img = 'img/hero/new-patient.png';
  }
  else if(pageName === 'creating-operation') {
    title = 'Создание <br>операции';
    img = 'img/hero/operation.png';
  }
  else if(pageName === 'creating-observation') {
    title = 'Создание <br>наблюдения';
    img = 'img/hero/observation.png';
  }
  else if(pageName === 'patient-card') {
    title = 'Карта пациента';
  }
  else if(pageName === 'profile') {
    title = 'Профиль';
  }
  else if(pageName === 'patient-list') {
    title = 'Список пациентов';
  }

.hero
  .container
    .hero__inner
      if(pageName !== 'patient-list')
        +btn({txt: 'Вернуться назад', icon: 'carret-left', href: '#', mode: 'text'}).hero__back
      h1.hero__title!=title
      if(pageName !== 'patient-card' && pageName !== 'profile' && pageName !== 'patient-list')
        .hero__image
          img(src=img, alt="background-image")
      if(pageName === 'creating-observation')
        .hero__passed-time
          span 3 месяца после операции
      if(pageName === 'patient-list')
        +btn({txt: 'Добавить пациента', icon: 'add-patient', href: '/new-patient.html'}).hero__add-patient