-
  let title;
  let img;

  if(pageName === 'new-patient') {
    title='Создание карты <br>пациента';
    img = 'img/hero/new-patient.png';
  }
  else if(pageName === 'creating-operation') {
    title = 'Создание <br>операции';
    img = 'img/hero/operation.png';
  }
  else if(pageName === 'creating-observation') {
    title = 'Создание <br>наблюдения';
    img = 'img/hero/observation.png';
  }
  else if(pageName === 'patient-card') {
    title = 'Карта пациента';
  }
  else if(pageName === 'profile') {
    title = 'Профиль';
  }

.hero
  .container
    .hero__inner
      +btn({txt: 'Вернуться назад', icon: 'carret-left', href: '#', mode: 'text'}).hero__back
      h1.hero__title!=title
      if(pageName !== 'patient-card' && pageName !== 'profile')
        .hero__image
          img(src=img, alt="background-image")
      if(pageName === 'creating-observation')
        .hero__passed-time
          span 3 месяца после операции
          