mixin file-loader(data)
  .file-loader
    input(type="file" name=data.name id=data.id)
    label(for=data.id)
      span.file-loader__title
        svg.svg
          use(href='img/sprite.svg#paperclip')
        | Перетащите файл или нажмите для загрузки
      span.file-loader__subtitle Максимальный размер одного файла: 10Мб. Максимальное количество файлов 20.
    .file-loader__uploaded-files