extends ../pug/layout.pug

block meta
    title Карта пациента
    meta(name='description', content='')
    - const pageName = 'patient-card'

//- block append head
//-    link(rel='stylesheet', href='css/some.css')

//-block header

block content
    include ../blocks/hero/hero
    .container
        include ../blocks/patient-card/patient-card
        //- h1 Заголовок контента
        //- svg(width="13" height="10")
        //-     use(xlink:href="img/sprite.svg#check")
    //- +modal-upload()

block footer

block prepend page-bottom
   include ../blocks/operation/operation
//- block append page-bottom
//-   script(src='js/some.js')