//- Внутрижелудочный баллон
mixin operation-intragastric-ballon()
  .group__form(data-connected='operation' data-number='1' data-name='intragastric-ballon')
    +itc-custom-select({
        id: 'ballon-type', 
        name: 'ballon-type',
        placeholder: 'Тип баллона',
        options: [
          {
            index: 0,
            value: 'value1',
            txt: 'Heliosphere'
          },
          {
            index: 1,
            value: 'value2',
            txt: 'List item 2'
          },
          {
            index: 2,
            value: 'value3',
            txt: 'List item 3'
          },
          {
            index: 3,
            value: 'value4',
            txt: 'List item 4'
          },
        ]
      })(data-required='')
    +group-radio-buttons({title: 'Чем заполнен балон'})(data-required='')
      +radio({name: 'fullness-of-the-balloon', value: 'Воздух', label: 'Воздух'})
      +radio({name: 'fullness-of-the-balloon', value: 'Физраствор', label: 'Физраствор'})
    +input-custom({type: 'number', placeholder: 'Объем заполнения', name: 'ballon-filling-volume'})(data-required='')
    +input-custom({type: 'text', placeholder: 'Планируемая дата удаления баллона', name:'date-ballon-delete',})(autocomplete='off' data-required='').only-number#calendar-ballon-delete