mixin observation-file-loader()
  .observation-file-loader
    .observation-file-loader__content
    label(for='observation-fileloader').observation-file-loader__add-file
      input(type="file" name='observation-fileloader' id='observation-fileloader')
      svg
        use(href='img/sprite.svg#plus-icon')