mixin side-modal(data)
  -
    let classes = '';
    if(data.classes) {
      let classesArr = data.classes.filter(item => Boolean(item))
      classes = data.classes.join(' ')
    }
  +modal().side-modal(class=classes)
    form
      .side-modal__header
        .side-modal__title=data.title
        .side-modal__header-buttons
          +btn({icon: 'pencil', mode: 'only-icon'}).side-modal__edit
          +btn({icon: 'printer', mode: 'only-icon'}).side-modal__print
          +btn({icon: 'trash', mode: 'only-icon'})(data-modal='modal-remove' type='button').side-modal__remove
          +btn({icon: 'ArrowLineRight', mode: 'only-icon'})(data-modal-close type='button').side-modal__close
          
      .side-modal__main
        if block
          block
      .side-modal__bottom
        +btn({txt: 'Отменить', mode: 'ghost'})(data-modal-close type='button')
        +btn({txt: 'Сохранить'})(disabled).submit-button