.side-modal.i-modal {
  z-index: 0;
  left: 0;
  bottom: 0;
  right: 0;
  top: 0;
  padding: 0;
  opacity: 1;
  transition-property: transform;
  transform: translateX(100%);
  background-color: transparent;

  &.is-active {
    opacity: 1;
    visibility: visible;
    z-index: 50;
    transform: translateX(0);

    .i-modal__content {
      opacity: 1;
    }
  }

  &.editing-assistant {
    .side-modal__remove {
      display: block;
    }
  }

  .i-modal__content {
    max-width: 940px;
    opacity: 1;
    margin: 0;
    margin-left: auto;
    padding: 0;
    padding-top: 96px;
    width: 100%;
    height: 100%;
    border-radius: 0;
    transform: none;
  }

  .i-modal__inner {
    height: 100%;
  }

  form {
    padding: 24px 40px 90px;
    height: 100%;
    display: flex;
    flex-direction: column;
  }

  .side-modal__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 2px solid #e8eaee;
    padding-bottom: 24px;
    margin-bottom: 24px;
  }

  .side-modal__header-buttons {
    display: flex;
    align-items: center;
    column-gap: 16px;
  }

  .side-modal__remove {
    display: none;

    svg {
      stroke: $red-btn;
    }
  }

  .side-modal__title {
    font-size: 28px;
    font-style: normal;
    font-weight: 500;
    line-height: 36px;
    color: $black;
  }

  .side-modal__main {
    // flex-grow: 1;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: flex-start;
    gap: 44px 24px;

    &.three-columns {
      grid-template-columns: repeat(3, 1fr);
    }
  }

  .side-modal__bottom {
    position: absolute;
    left: 0;
    bottom: 0;
    padding: 24px 40px;
    border-top: 2px solid #e8eaee;
    width: 100%;
    display: flex;
    justify-content: flex-end;
    column-gap: 20px;

    .btn {
      max-width: 240px;
      width: 100%;
    }
  }
}
