.patient-card
  .patient-card__wrapper
    //- .patient-card__item
    +general-info
    .patient-card__main
      +page-section({
        title: 'Операции и наблюдения',
        buttons: [{txt: 'Добавить операцию', icon: 'mask', mode: 'text', href: '/creating-operation.html'}, {txt: 'Добавить наблюдение', icon: 'list', mode: 'text', href: '/creating-observation.html'}]
      })
        .patient-card__operations
          +pill({type: 'operation', name: 'ВЖБ (22.02.2015)', content: [{type: 'observation', id: '1', period: '10 мес.'}, {type: 'observation', id: '2', period: '15 мес.'}]})(data-operation-id='1')
          +pill({type: 'operation', name: 'RYGB (24.04.2021)', content: [{type: 'observation', id: '1', period: '10 мес.'}, {type: 'observation', id: '2', period: '15 мес.'}, {type: 'observation', id: '3', period: '25 мес.'}, {type: 'observation', id: '4', period: '45 мес.'}]})(data-operation-id='2')
          +pill({type: 'operation', name: 'Гастропликация (22.02.2022)', content: [{type: 'observation', period: '3 мес.'}]})(data-operation-id='3')
        .patient-card__decor-line
        +page-section({
        title: 'Осложнения',
        buttons: [{txt: 'Добавить осложнение', icon: 'plus', mode: 'text'}],
        type: 'additional'
      })
        +pill({type: 'complication', name: 'ВЖБ (22.02.2015)', content: [{type: 'complication', name: 'Кровотечение', period: '3 мес.'}, {type: 'complication', name: 'Декомпенсация сопутст. заболеваний', period: '3 мес.'}, {type: 'complication', name: 'Перфорация и ранение органов', period: '3 мес.'}]})
      +page-section({
        title: 'Потеря лишнего веса'
      })
        //- #test-line-chart
        //- canvas(id='myChart')
        .chart-wrapper
          canvas(id='myChart')
      include ../concomitant-diseases/concomitant-diseases
      include ../anamnesis/anamnesis
      +page-section({
        title: 'Файлы',
        buttons: [{txt: 'Прикрепить файл', icon: 'paperclip', mode: 'text', addClass: 'patient-card__add-file'}]
      })
        +file-loader({name: 'main-card-files', id: 'main-card-files'}).patient-card__loader
          +file({addClass: 'file--advanced'})
          +file({addClass: 'file--advanced', img: 'img/logo.svg', menu: [{txt: 'Посмотреть', icon: 'eye', modalAttribute: 'viewing-modal'}, {txt: 'Скачать', icon: 'download'}]})(data-file-id='file5312')
      .patient-card__bottom
        +btn({txt: 'Передать другому врачу', mode: 'ghost'})

      
