mixin operation-removal-of-vzhb
  .group__form(data-connected='operation' data-number='1' data-name='removal-of-vzhb')
    +itc-custom-select({
      id: '[sleeve]reason-removing-balloon', 
      name: '[sleeve]reason-removing-balloon',
      placeholder: 'Причина удаления баллона',
      options: [
        {
          index: 0,
          value: 'value1',
          txt: 'List item 1'
        },
        {
          index: 1,
          value: 'value2',
          txt: 'List item 2'
        },
        {
          index: 2,
          value: 'value3',
          txt: 'List item 3'
        },
        {
          index: 3,
          value: 'value4',
          txt: 'List item 4'
        },
      ]
    })