mixin group-radio-buttons(data)
  .group-radio-buttons&attributes(attributes)
    .group-radio-buttons__title
      span=data.title
      if(data.info)
        +info({id: data.info.id})
    .group-radio-buttons__options
      if (block)
        block