header.header
    .container
        .header__inner
            .header__logo
                img(src="img/logo.png", alt="logo")
            .header__nav
                a(href="#").header__nav-el Пациенты
                a(href="#").header__nav-el Статистика
                a(href="#").header__nav-el Тех.поддержка
            //- .header__buttons
            //-     +btn-circle({icon: 'search'})
            //-     +btn-circle({icon: 'bell', mode: 'ghost' })
            //-     +btn-circle({icon: 'user', href: '#', mode: 'ghost'})
            +user()


