mixin group(data)
  if(data.type === 'additional')
    .group.group--additional&attributes(attributes)
      .group__header
        .group__title
          .group__completed
            svg.svg
              use(xlink:href="img/sprite.svg#check")
          span=data.title
      .group__inner
        if block
            block
  else
    .group&attributes(attributes).is-active
      .group__header
        .group__text
          .group__title
            .group__completed
              svg.svg
                use(xlink:href="img/sprite.svg#check")
            span=data.title
            if(data.operation)
              span.group__add-info Операция
          if(data.subtitle)
            .group__subtitle=data.subtitle
        .group__toggle
          svg.svg
            use(xlink:href="img/sprite.svg#caret-up")
      .group__inner-wrapper
        .group__inner
          if block
              block

//- Общие поля формы группы - .group__form
//- Дополнительные группы .group__additional-form


//- !!! При добавлении блока оберни его в .group__grid