+form().form-creating-observation
  +group({title: 'Сведения о пациенте'}).form-creating-observation__patient-information
    .group__form
      +data-block({title: 'Пациент', value: 'Павленко Павел Павлович'})
      +data-block({title: 'Операция', value: 'RYGB (Гастрошунтирование)'})
      +data-block({title: 'Дата операции', value: '01.01.2022'})
      +input-custom({type: 'text', placeholder: 'Дата наблюдения*', name: 'date-observation', calendar: true})(autocomplete='off' data-required='' data-mask='date').only-number#calendar-observation
      +input-custom({type: 'number', placeholder: 'Вес на момент наблюдения*', name: 'weight-observation', message: 'Предыдущий показатель 83.2 кг', addClass: 'have-message'})(data-required='')
      +data-block({title: '%EWL', value: '0%'})
  +group({title: 'Бандажирование желудка'}).form-creating-observation__gastric-bandage
    .group__form
      +checkbox({name: "adjusting-bandage", value: 'Да', label: 'Регулировка бандажа'})(data-has-connection="adjusting-bandage")
      +itc-custom-select({
            id: 'reason-adjusting-bandage', 
            name: 'reason-adjusting-bandage',
            placeholder: 'Причина регулировки',
            options: [
              {
                index: 0,
                value: 'Первичная регулировка после операции',
                txt: 'Первичная регулировка после операции'
              },
              {
                index: 1,
                value: 'Дисфагия',
                txt: 'Дисфагия'
              },
              {
                index: 2,
                value: 'Повторный набор веса',
                txt: 'Повторный набор веса'
              },
              {
                index: 3,
                value: 'Беременность',
                txt: 'Беременность'
              },
              {
                index: 4,
                value: 'Неудовлетворенность пациента',
                txt: 'Неудовлетворенность пациента'
              },
            ]
          })(data-connected="adjusting-bandage")
      +input-custom({type: 'text', placeholder: 'Изменение объема заполнения', name: 'changing-filling-volume', connected: "adjusting-bandage", message: "Пример: ± 200 мл", addClass: 'have-message'})(data-required='')
      +input-custom({type: 'text', placeholder: 'Планируемая дата регулировки', name: 'date-adjusting-bandage', calendar: true, connected: "adjusting-bandage"})(autocomplete='off' data-mask='date').only-number#calendar-adjusting-bandage
  +group({title: 'Общие сведения'}).form-creating-observation__general-information
    .group__form
      +group-radio-buttons({title: 'Приём витаминов и микроэлементов*'})(data-required='')
        +radio({name: 'intake-of-vitamins', value: 'Да', label: 'Да'})
        +radio({name: 'intake-of-vitamins', value: 'Нет', label: 'Нет'})
      +group-radio-buttons({title: 'Чувство голода'})
        +radio({name: 'feeling-hungry', value: 'Нет', label: 'Нет'})
        +radio({name: 'feeling-hungry', value: 'Сниженое', label: 'Сниженое'})
        +radio({name: 'feeling-hungry', value: 'Обычное', label: 'Обычное'})
        +radio({name: 'feeling-hungry', value: 'Выраженное', label: 'Выраженное'})
      +group-radio-buttons({title: 'Признаки питательной недостаточности'})
        +radio({name: 'signs-of-nutritional-deficiency', value: 'Есть', label: 'Есть'})
        +radio({name: 'signs-of-nutritional-deficiency', value: 'Нет', label: 'Нет'})
      +group-radio-buttons({title: 'Комфортность питания'})
        +radio({name: 'сomfort-of-nutrition', value: 'Нормальная', label: 'Нормальная'})
        +radio({name: 'сomfort-of-nutrition', value: 'Дискомфорт при приеме пищи', label: 'Дискомфорт при приеме пищи'})
      +group-radio-buttons({title: 'Диарея'})
        +radio({name: 'diarrhea', value: 'Да', label: 'Да'})
        +radio({name: 'diarrhea', value: 'Нет', label: 'Нет'})
      +group-radio-buttons({title: 'Наличие запора'})
        +radio({name: 'has-constipation', value: 'Да', label: 'Да'})
        +radio({name: 'has-constipation', value: 'Нет или очень редко', label: 'Нет или очень редко'})
      +input-custom({type: 'text', placeholder: 'Частота стула', name: 'how-often-poop',})
  +group({title: 'Течение сопутствующих заболеваний'}).form-creating-observation__course-of-diseases.group--parent
    .group__form
      +itc-custom-select({
            id: 'arterial-hypertension', 
            name: 'arterial-hypertension',
            placeholder: 'Артериальная гипертензия',
            options: [
              {
                index: 0,
                value: 'Нет',
                txt: 'Нет'
              },
              {
                index: 1,
                value: 'Есть, терапию не получает',
                txt: 'Есть, терапию не получает'
              },
              {
                index: 2,
                value: 'Компенсирована терапией',
                txt: 'Компенсирована терапией'
              },
              {
                index: 3,
                value: 'Не компенсирована терапией',
                txt: 'Не компенсирована терапией'
              },
            ]
          })
      +itc-custom-select({
          id: 'diabetes-mellitus-2-type', 
          name: 'diabetes-mellitus-2-type',
          placeholder: 'Сахарный диабет 2-го типа',
          options: [
            {
              index: 1,
              value: 'Нет признаков',
              txt: 'Нет признаков'
            },
            {
              index: 2,
              value: 'Инсулинорезистентность, гипергликемия или нарушение толерантности к глюкозе',
              txt: 'Инсулинорезистентность, гипергликемия или нарушение толерантности к глюкозе'
            },
            {
              index: 3,
              value: 'Прием пероральных гипогликемических препаратов',
              txt: 'Прием пероральных гипогликемических препаратов'
            },
            {
              index: 4,
              value: 'Инсулинотерапия',
              txt: 'Инсулинотерапия'
            },
          ]
        })(data-has-connection='diabetes-сompensation')
      +itc-custom-select({
            id: 'compensation-SD', 
            name: 'compensation-SD',
            placeholder: 'Срок наступления компенсации СД',
            options: [
              {
                index: 0,
                value: 'Нет признаков',
                txt: 'Нет признаков'
              },
              {
                index: 1,
                value: 'Инсулинорезистентность, гипергликемия или нарушение толерантности к глюкозе',
                txt: 'Инсулинорезистентность, гипергликемия или нарушение толерантности к глюкозе'
              },
              {
                index: 2,
                value: 'Снижение доз пероральных препаратов',
                txt: 'Снижение доз пероральных препаратов'
              },
              {
                index: 3,
                value: 'Прежние дозы пероральных препаратов',
                txt: 'Прежние дозы пероральных препаратов'
              },
              {
                index: 4,
                value: 'Инсулинотерапия',
                txt: 'Инсулинотерапия'
              },
            ]
          })(data-connected='diabetes-сompensation')
      +itc-custom-select({
            id: 'GERD', 
            name: 'GERD',
            placeholder: 'ГЭРБ',
            options: [
              {
                index: 0,
                value: 'Нет симптомов',
                txt: 'Нет симптомов'
              },
              {
                index: 1,
                value: 'Периодически возникающие симптомы, купируются самостоятельно',
                txt: 'Периодически возникающие симптомы, купируются самостоятельно'
              },
              {
                index: 2,
                value: 'Периодические возникающие симптомы, купируются препаратами',
                txt: 'Периодические возникающие симптомы, купируются препаратами'
              },
              {
                index: 3,
                value: 'Ежедневный прием препаратов',
                txt: 'Ежедневный прием препаратов'
              },
            ]
          })
      +group-radio-buttons({title: 'Дислипидемия', info: {id: 'dyslipidemia-info', value: '{"content": "Только для повышенного уровня липидов/холестерола без учета терапии статинами", "theme": "violet"}'}})(data-required='')
        +radio({name: 'dyslipidemia', value: 'yes', label: 'Да'})
        +radio({name: 'dyslipidemia', value: 'no', label: 'Нет'})
      +group-radio-buttons({title: 'Атеросклероз', info: {id: 'atherosclerosis-info', value: '{"content": "Включая ИБС, ОИМ, коронарное шунтирование, ОНМК, перемежающуюся хромоту", "theme": "violet"}'}})
        +radio({name: 'atherosclerosis', value: 'yes', label: 'Да'})
        +radio({name: 'atherosclerosis', value: 'no', label: 'Нет'})
      +group-radio-buttons({title: 'Апноэ'})
        +radio({name: 'apnea', value: 'yes', label: 'Да'})
        +radio({name: 'apnea', value: 'no', label: 'Нет'})
      +itc-custom-select({
          id: 'bronchial-asthma', 
          name: 'bronchial-asthma',
          placeholder: 'Бронхиальная астма',
          options: [
            {
              index: 0,
              value: 'no',
              txt: 'Нет'
            },
            {
              index: 1,
              value: 'inhaler',
              txt: 'Ингалятор'
            },
            {
              index: 2,
              value: 'nebulizer/oral steroids',
              txt: 'Небулайзер/пероральные стероиды'
            },
          ]
        })
      +itc-custom-select({
          id: 'functional-status', 
          name: 'functional-status',
          placeholder: 'Функциональный статус',
          options: [
            {
              index: 0,
              value: '3 floors without rest',
              txt: '3 этажа без отдыха'
            },
            {
              index: 1,
              value: '1st floor without rest',
              txt: '1 этаж без отдыха'
            },
            {
              index: 2,
              value: 'Half a flight of stairs',
              txt: 'Половина лестничного пролета'
            },
            {
              index: 3,
              value: 'Does not move independently / Does not leave the house',
              txt: 'Не передвигается самостоятельно / Не выходит из дом'
            },
          ]
        })
      +itc-custom-select({
          id: 'back-and-limb-pain', 
          name: 'back-and-limb-pain',
          placeholder: 'Боль в спине и конечностях',
          options: [
            {
              index: 1,
              value: 'No symptoms',
              txt: 'Нет симптомов'
            },
            {
              index: 2,
              value: 'Intermittent symptoms',
              txt: 'Периодически возникающие симптомы'
            },
            {
              index: 3,
              value: 'Regular medication',
              txt: 'Регулярный прием препаратов'
            },
          ]
        })
      +itc-custom-select({
          id: 'hernia', 
          name: 'hernia',
          placeholder: 'Грыжа',
          options: [
            {
              index: 0,
              value: 'No',
              txt: 'Нет'
            },
            {
              index: 1,
              value: 'Umbilical',
              txt: 'Пупочная'
            },
            {
              index: 2,
              value: 'Ventral',
              txt: 'Вентральная'
            },
            {
              index: 3,
              value: 'Inguinal',
              txt: 'Паховая'
            },
            {
              index: 4,
              value: 'Under',
              txt: 'ГПОД'
            },
          ]
        })
      +itc-custom-select({
          id: 'sagging-skin', 
          name: 'sagging-skin',
          placeholder: 'Обвисание кожи',
          options: [
            {
              index: 0,
              value: 'Нет',
              txt: 'Нет'
            },
            {
              index: 1,
              value: 'Обвисания кожи нет, есть морщинистость',
              txt: 'Обвисания кожи нет, есть морщинистость'
            },
            {
              index: 2,
              value: 'Выраженное обвисание кожи на руках, бедрах',
              txt: 'Выраженное обвисание кожи на руках, бедрах'
            },
            {
              index: 3,
              value: 'Выраженное обвисание кожи на животе',
              txt: 'Выраженное обвисание кожи на животе'
            },
          ]
        })
      +itc-custom-select({
          id: 'fat-apron', 
          name: 'fat-apron',
          placeholder: 'Жировой фартук',
          options: [
            {
              index: 0,
              value: 'No',
              txt: 'Нет'
            },
            {
              index: 1,
              value: 'Significant skin-fat fold',
              txt: 'Значительная кожно-жировая складка'
            },
            {
              index: 2,
              value: 'Inflammation in the folds',
              txt: 'Воспаление в складках'
            },
            {
              index: 3,
              value: 'Makes walking difficult',
              txt: 'Затрудняет ходьбу'
            },
            {
              index: 4,
              value: 'Cellulite/ulceration',
              txt: 'Целлюлит/изъязвление'
            },
            {
              index: 5,
              value: 'Выполнена дерматолипэктомия',
              txt: 'Выполнена дерматолипэктомия'
            },
          ]
        })
      +group-radio-buttons({title: 'Недержание мочи'})
        +radio({name: 'urinary-incontinence', value: 'yes', label: 'Да'})
        +radio({name: 'urinary-incontinence', value: 'no', label: 'Нет'})
      +group-radio-buttons({title: 'Депрессия'})
        +radio({name: 'depression', value: 'yes', label: 'Да'})
        +radio({name: 'depression', value: 'no', label: 'Нет'})
      +group-radio-buttons({title: 'Желчнокаменная болезнь'})
        +radio({name: 'cholelithiasis', value: 'yes', label: 'Да'})
        +radio({name: 'cholelithiasis', value: 'no', label: 'Нет'})
    +group({title: 'Женское здоровье', type: 'additional'}).form-creating-observation__women-health.is-active
      .group__additional-form
        +itc-custom-select({
            id: 'polycystic-ovary', 
            name: 'polycystic-ovary',
            placeholder: 'Синдром поликистозных яичников',
            options: [
              {
                index: 0,
                value: 'Нет',
                txt: 'Нет'
              },
              {
                index: 1,
                value: 'СПКЯ без терапии',
                txt: 'СПКЯ без терапии'
              },
              {
                index: 2,
                value: 'СПКЯ с терапией',
                txt: 'СПКЯ с терапией'
              },
              {
                index: 3,
                value: 'Бесплодие',
                txt: 'Бесплодие'
              },
            ]
          })(data-required='')
        +itc-custom-select({
            id: 'menstrual-function', 
            name: 'menstrual-function',
            placeholder: 'Менструальная функция',

            options: [
              {
                index: 0,
                value: 'Регулярный цикл',
                txt: 'Регулярный цикл'
              },
              {
                index: 1,
                value: 'Нерегулярный цикл',
                txt: 'Нерегулярный цикл'
              },
              {
                index: 2,
                value: 'Гиперменорея',
                txt: 'Гиперменорея'
              },
              {
                index: 3,
                value: 'Постменопауза',
                txt: 'Постменопауза'
              },
              {
                index: 4,
                value: 'Аменорея',
                txt: 'Аменорея'
              },
              {
                index: 5,
                value: 'Гистерэктомия в анамнезе',
                txt: 'Гистерэктомия в анамнезе'
              },
            ]
          })
        +itc-custom-select({
            id: 'onset-of-pregnancy', 
            name: 'onset-of-pregnancy',
            placeholder: 'Наступление беремности',
            options: [
              {
                index: 0,
                value: 'Беременнось не наступила',
                txt: 'Беременнось не наступила'
              },
              {
                index: 1,
                value: 'Беременность в результате ЭКО',
                txt: 'Беременность в результате ЭКО'
              },
              {
                index: 2,
                value: 'Безуспешное ЭКО',
                txt: 'Безуспешное ЭКО'
              },
              {
                index: 3,
                value: 'Естественная беременность',
                txt: 'Естественная беременность'
              },
            ]
          })
  +group({title: 'Дополнительная информация'}).form-creating-observation__additional-info
    .group__form
      +textarea({name: 'observation-additional', id: 'observation-additional', placeholder: 'Примечания'})
      +drop-zone({name: 'create-observation-files', id: 'create-observation-files'})
  .form__wrapper-btns
    +btn({txt: 'Создать'})(type='submit')(disabled).submit-button